@import url(//fonts.googleapis.com/css?family=Paytone+One);

@import url(//fonts.googleapis.com/css?family=Righteous);

@import "jquery.fancybox-1.3.4.css";
/*------ template stylization ------*/
body {
  background: #000000;
  font: 11px "Trebuchet MS", Helvetica, sans-serif;
  line-height: 20px;
  color: #919191;
  text-transform: uppercase;
  font-style: italic;
  min-width: 1200px;
}
.nav-collapse.collapse {
  text-transform: none;
  font-style: normal;
}
.brand {
  text-transform: none;
  font-style: normal;
}
#webSiteLoader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000 url('../img/web_site_loader.gif') center no-repeat;
  z-index: 1023;
  top: 0;
}
#pageLoader {
  position: fixed;
  width: 72px;
  height: 72px;
  top: 50%;
  left: 50%;
  margin: -36px 0 0 -36px;
  background: url('../img/bg_loader.png') 0 0 no-repeat;
  z-index: 1000;
  padding: 3px;
  display: none;
}
#pageLoader > div {
  margin: 9px 10px;
  background: url('../img/web_page_loader.gif') 0 0 no-repeat;
  width: 46px;
  height: 46px;
}
#back-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background: url("../img/up-arrow.png") center 12px no-repeat;
  z-index: 1000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: none;
  cursor: pointer;
}
.animate,
.animate:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
h1 {
  margin: 0;
  font-style: normal;
}
h2 {
  font-style: normal;
  margin-bottom: 21px;
}
h2 span {
  position: relative;
  display: inline-block;
  font-size: 48px;
  line-height: 45px;
  margin-bottom: 15px;
}
.title {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}
.title_2 {
  font-size: 14px;
  color: #ffffff;
}
.marg_0 {
  margin-bottom: 0!important;
}
.marg_1 {
  margin-right: -10px !important;
}
.marg_2 {
  margin-bottom: 23px!important;
}
.marg_3 {
  margin-bottom: 34px;
}
.marg_4 {
  margin-bottom: 17px;
}
.marg_5 {
  margin-bottom: 25px!important;
}
.marg_6 {
  margin-bottom: 29px;
}
.marg_7 {
  margin-bottom: -3px !important;
}
.marg_8 {
  margin: 25px 0 0 13px;
}
.rounded {
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
hr {
  border: none;
  height: 1px;
  color: #515151;
  background-color: #515151;
  margin: 0 0 15px;
}
.txt_1 {
  font-size: 14px;
  line-height: 24px;
}
/*------ header ------- */
header {
  position: absolute;
  width: 100%;
  z-index: 5;
  margin: 0 auto;
  top: 0;
}
#logo {
  display: inline-block;
  position: relative;
  background: url('../img/logo.png') 0 0 no-repeat;
  width: 344px;
  height: 86px;
  text-indent: -9999px;
  margin: 0;
}
#logo:hover {
  text-decoration: none;
}
/*--- menu ------*/
.menuMov {
  position: relative;
  font-style: normal;
  margin-top: 33px;
  text-align: right;
  z-index: 10;
}
.menu {
  position: relative;
  z-index: 1;
  display: inline-block;
  text-transform: uppercase;
}
.sf-menu {
  z-index: 3;
  position: relative;
  display: inline-block;
  margin-left: 0;
}
.sf-menu > li {
  list-style: none;
  position: relative;
  margin: -6px 0 0;
  color: #383636;
  width: 336px;
  text-align: left;
  pointer-events: none;
}
.sf-menu > li span {
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
  background: url('../img/marker_act_menu.png') no-repeat 0 bottom;
  top: 0;
  left: -44px;
  pointer-events: none;
  content: "";
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  z-index: -1;
}
.sf-menu > li > a {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 0;
  pointer-events: visible;
  background: url('../img/hover_part.png') 0 0 repeat;
  width: 100%;
  height: 42px;
}
.sf-menu > li > a:hover {
  text-decoration: none;
}
.sf-menu > li.active > a {
  text-decoration: none;
}
.submenu_1 {
  position: relative;
  z-index: 5;
  background: #fff;
  margin: 0 0 2px -44px;
  overflow: hidden;
  width: 349px;
  height: 39px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  pointer-events: visible;
}
.submenu_1 li {
  position: relative;
  list-style: none;
  text-align: center;
  float: left;
  padding: 0 14px;
  margin-top: 8px;
}
.submenu_1 li:after {
  position: absolute;
  display: block;
  width: 5px;
  height: 13px;
  background: url('../img/separator_subMenu.png') no-repeat 0 0;
  top: 5px;
  right: -3px;
  pointer-events: none;
  content: "";
}
.submenu_1 li.last:after {
  display: none;
}
.submenu_1 li:first-child {
  margin-left: 11px;
}
.submenu_1 a {
  font: 18px/18px 'Paytone One', sans-serif;
  color: #030303;
  position: relative;
  display: inline-block;
  text-decoration: none;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.submenu_1 a:hover {
  color: #007482 !important;
}
.submenu_1 li > a:hover,
.submenu_1 li .hoverItem {
  color: #007482 !important;
}
.submenu_2 {
  position: absolute;
  width: 138px;
  left: 150px;
  top: -7px;
  z-index: 10;
  margin: 0;
  padding: 7px 0 7px;
  background: #fff;
}
.submenu_2 .marTop {
  margin: 10px 0 0;
}
.submenu_2 .marBot {
  margin: 0 0 0px;
}
.submenu_2 a {
  color: #2d2d2d;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.submenu_2 a:hover {
  color: #43c5e9 !important;
}
.submenu_2 li > a:hover,
.submenu_2 li.sfHover > a {
  color: #43c5e9 !important;
}
.mText {
  font: 48px/27px 'Paytone One', sans-serif;
  color: #ffffff;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.mTextOver {
  font: 48px/54px 'Paytone One', sans-serif;
  color: #ffffff;
  position: relative;
  width: 100%;
  z-index: 3;
  display: none;
}
/*--- menu end ------*/
/*--- header end ------*/
/*------ content ------- */
#wrapper .containerHolder {
  position: relative;
  width: 100%;
  z-index: 2;
  top: 330px;
}
#wrapper section > div {
  position: relative;
}
#wrapper section {
  position: relative;
  width: 100%;
  height: 100%;
}
#wrapper > section > div {
  position: relative;
}
.container {
  position: relative;
  z-index: 1;
}
.dynamicContent {
  position: absolute;
  width: 100%;
  top: 0;
}
.dynamicContent .inner {
  position: relative;
  padding: 0;
}
.dynamicContent .cont_bg {
  position: relative;
  margin: 0 -33px 0 -41px;
  padding: 38px 32px 43px 41px;
  background: url('../img/bg1.jpg') 0 0 repeat;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}
.splash {
  position: relative;
  padding: 234px 0 0;
}
.splash > div a {
  position: relative;
  display: inline-block;
  padding: 14px 12px 25px;
  text-align: right;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
}
.splash > div a:hover {
  text-decoration: none;
}
.splash > div a img {
  position: relative;
  display: inline-block;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
}
.splash > div a span {
  position: relative;
  display: block;
  font: 20px/25px 'Paytone One', sans-serif;
  color: #ffffff;
  margin: 7px 27px 0 0;
}
.splash > div a span span {
  text-transform: none;
  font: 30px/12px 'Righteous', cursive;
  color: #ffb82e;
  margin: 0;
}
.splash > div a b {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  background: url('../img/bg1_act.jpg') 0 0 repeat;
  z-index: -2;
}
.splash > div a strong {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  background: url('../img/bg1.jpg') 0 0 repeat;
  z-index: -1;
}
.line-hor1 {
  position: relative;
  display: block;
  width: 100%;
  height: 5px;
  background: url('../img/line_hor.png') 0 0 repeat-x;
  margin-bottom: 32px;
}
.btn {
  font: italic 14px/14px 'Paytone One', sans-serif;
  color: #ffffff;
  text-shadow: none;
  position: relative;
  display: inline-block;
  padding: 0;
  background: transparent;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  color: #ffb82e;
  text-decoration: none;
}
.list_1 {
  position: relative;
  list-style: none;
  margin: 0 0 31px 0;
}
.list_1 li {
  position: relative;
  margin-bottom: 26px;
  padding-bottom: 22px;
  background: url('../img/line_hor2.png') 0 bottom repeat-x;
}
.list_1 li h4 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 6px;
}
.list_1 li h4 time {
  color: #ffb82e;
}
.list_1 li img {
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 28px;
  margin-top: 2px;
}
.list_1 li .txt_info {
  position: relative;
  overflow: hidden;
  margin-top: -2px;
}
.list_1 .last {
  margin-bottom: 0;
  padding-bottom: 0;
  background: transparent;
}
.link_1 {
  color: #ffffff;
  font-weight: bold;
}
.link_1:hover {
  color: #ffb82e;
  text-decoration: none;
}
.link_2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  background: url('../img/marker.png') 0 5px no-repeat;
  padding: 0 0 0 9px;
  margin: 0 7px 0 0;
}
.link_2 span {
  color: #ed230e;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.link_2:hover {
  color: #ffb82e;
  text-decoration: none;
}
.link_2:hover span {
  color: #ffb82e;
}
.link_3 {
  color: #ed230e;
  font-weight: bold;
  font-size: 14px;
  background: url('../img/marker.png') 0 5px no-repeat;
  padding: 0 0 0 9px;
  margin: 0 7px 0 0;
}
.link_3:hover {
  color: #ffb82e;
  text-decoration: none;
}
.link_4 {
  color: #c42211;
  font-weight: normal;
}
.link_4:hover {
  color: #ffb82e;
  text-decoration: none;
}
.cont_w {
  position: relative;
  width: 100%;
  text-align: right;
}
.list_2 {
  position: relative;
  display: inline-block;
  list-style: none;
  margin: 0 0 9px 0;
}
.list_2 li {
  position: relative;
  display: inline-block;
  float: left;
  margin: 0 7px 7px 0;
}
.list_2 li img {
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.list_2 li span {
  position: absolute;
  display: block;
  text-align: center;
  width: 47px;
  height: 21px;
  background: #101010;
  color: #c0c0c0;
  font-weight: bold;
  bottom: 0;
  right: 0;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.list_2 li .sitem_over {
  position: absolute;
  background: url("../img/pic_bg_over.png");
  z-index: 2;
  display: none;
  width: 164px !important;
  height: 130px !important;
  overflow: hidden;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.list_2 li .sitem_over > strong {
  position: relative;
  background: url('../img/video_play.png') center no-repeat;
  width: 100%;
  height: 100%;
  display: block;
}
.list_2 .last {
  margin-right: 0;
}
.list_3 {
  position: relative;
  display: inline-block;
  list-style: none;
  margin: 0 0 11px;
}
.list_3 li {
  position: relative;
}
.list_3 li h4 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 6px;
}
.list_3 li h4 time {
  color: #ffb82e;
}
.list_3 li img {
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 26px;
}
.list_3 li .txt_info {
  position: relative;
  overflow: hidden;
  display: inline-block;
  float: left;
  width: 184px;
  margin-top: -2px;
}
.list_3 .last {
  margin-bottom: 0;
  padding-bottom: 0;
  background: transparent;
}
.line_hor3 {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 1px;
  float: left;
  background: url('../img/line_hor2.png') 0 0 repeat-x;
}
.poz_1 {
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 27px;
}
.txt_info2 {
  position: relative;
  overflow: hidden;
  padding-top: 9px;
}
.txt_info3 {
  font: bold italic 14px "Trebuchet MS", Helvetica, sans-serif;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}
.txt_info3 span {
  color: #ffb82e;
}
.list_4 {
  position: relative;
  list-style: none;
  margin: 0 0 25px;
  padding: 3px 0 0;
}
.list_4 li {
  margin-bottom: 4px;
}
.list_5 {
  position: relative;
  display: inline-block;
  list-style: none;
  margin: 0;
}
.list_5 li {
  position: relative;
  display: inline-block;
  float: left;
  margin: 0 0 38px 0;
}
.list_5 li img {
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.list_5 li .sitem_over {
  position: absolute;
  background: url("../img/pic_bg_over.png");
  z-index: 2;
  display: none;
  width: 336px !important;
  height: 162px !important;
  overflow: hidden;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.list_5 li .sitem_over > strong {
  position: relative;
  background: url('../img/icon_zoom.png') center no-repeat;
  width: 100%;
  height: 100%;
  display: block;
}
.list_5 .last {
  margin-bottom: 0;
}
.g_map {
  position: relative;
  width: 433px;
  height: 362px;
  display: inline-block;
  float: left;
  margin: 0 26px 0 0;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
}
.g_map iframe {
  position: relative;
  border: none;
  display: inline-block;
  outline: none;
  width: 433px;
  height: 362px;
  background: #000000 url('../img/web_site_loader.gif') center no-repeat !important;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
}
.cont_info {
  position: relative;
  padding-top: 10px;
}
.cont_info .width1 {
  display: inline-block;
  width: 66px;
}
/*--- contact_form ------*/
#contact-form {
  width: 334px;
  position: relative;
}
#contact-form hr {
  display: inline-block;
  position: relative;
  width: 100%;
}
#contact-form label {
  position: relative;
  /*!*/

  display: block;
  min-height: 43px;
  margin-bottom: 7px;
  width: 334px;
}
#contact-form span {
  display: block;
}
#contact-form ._placeholder {
  position: absolute;
  /*!*/

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: text;
  color: #b9b8b6;
  padding: 5px 12px;
  opacity: .99;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  line-height: 32px;
  display: block;
}
#contact-form ._placeholder.focused {
  opacity: .4;
  filter: alpha(opacity=40);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#contact-form ._placeholder.hidden {
  display: none;
}
#contact-form input,
#contact-form textarea {
  font: 11px/15px "Trebuchet MS", Helvetica, sans-serif;
  font-style: inherit;
  color: #b9b8b6;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  padding: 14px 10px;
  border: none;
  width: 334px;
  height: 41px;
  background: url('../img/bg_form.png') 0 0 repeat;
  margin-bottom: 0;
}
#contact-form textarea {
  width: 334px !important;
  height: 151px !important;
  margin-bottom: 26px;
  resize: none;
}
#contact-form .message {
  width: 100%;
}
#contact-form .error-message,
#contact-form .empty-message {
  height: 0;
  overflow: hidden;
  font: 11px/20px "Trebuchet MS", Helvetica, sans-serif;
  -webkit-transition: 0.3s ease-in height;
  -moz-transition: 0.3s ease-in height;
  -o-transition: 0.3s ease-in height;
  transition: 0.3s ease-in height;
  position: absolute;
  right: 3px;
  top: 0;
}
#contact-form .invalid .error-message,
#contact-form .empty .empty-message {
  height: 20px;
  color: #c42211;
  text-transform: none;
}
#contact-form .success-message {
  position: absolute;
  overflow: hidden;
  height: 0;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  background: #3e3e3e;
  z-index: 10;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.7s linear;
  -moz-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  transition: all 0.7s linear;
  /*padding: 0;*/

}
#contact-form.success .success-message {
  height: 301px;
  padding: 130px 0 0;
  border: none;
  line-height: 20px!important;
  -webkit-transition: all 0.7s linear;
  -moz-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  transition: all 0.7s linear;
}
.btns {
  float: right;
}
.btns a {
  position: relative;
  margin-left: 13px;
}
/*--- contact_form end------*/
/* ============================= search ============================= */
#search {
  position: relative;
  display: inline-block;
  margin-top: 19px;
  margin-bottom: 0;
}
#search input[type="text"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#search input[type="text"]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#search input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#search input {
  font-size: 12px;
  color: #919191;
  width: 504px;
  padding: 10px 11px;
  border: none;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  background: url('../img/bg_form.png') 0 0 repeat;
  float: left;
  margin: 0;
}
.search_result {
  color: #ed230e;
}
.search_title {
  margin-bottom: 5px;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
.search_title a {
  color: #616161;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.search_title a:hover {
  color: #ffb82e;
  text-decoration: none;
}
.search_list {
  margin-top: 30px;
  display: inline-block;
  min-height: 360px;
}
.search_list li {
  margin-bottom: 40px;
}
.search_list .search {
  font-size: 28px;
  color: #ed230e;
}
#searchButton {
  position: absolute;
  display: block;
  text-transform: uppercase;
  margin: 0;
  z-index: 10;
  top: 67px;
  right: 0px;
}
/* ============================= end search ============================= */
/*--- content end ------*/
/*------ footer ------- */
footer {
  font: 11px/12px 'Paytone One', sans-serif;
  font-style: normal;
  position: absolute;
  color: #ffffff;
  bottom: 0;
  padding: 0;
  width: 100%;
  height: 54px;
  z-index: 500;
  background: url('../img/footer_bg.jpg') 0 0 repeat-x;
  text-transform: uppercase;
}
footer p {
  margin: 20px 0 0 12px;
}
footer p span {
  position: relative;
  display: inline-block;
  width: 9px;
  text-align: center;
  color: #707070;
}
.social-icon {
  position: relative;
  margin: 14px 45px 0 0;
}
.social-icon > li {
  display: inline-block;
  float: left;
  margin-left: 10px;
}
.social-icon > li > a {
  display: inline-block;
}
.social-icon > li > a > img {
  position: relative;
  top: 0;
}
.social-icon > li > a:hover img {
  top: -5px;
}
.link_0 {
  color: #ffffff;
}
.link_0:hover {
  color: #ffb82e;
  text-decoration: none;
}
/*--- footer end ------*/
/*----- media queries ------*/
@media (min-width: 1200px) {
  
}
@media (min-width: 768px) and (max-width: 979px) {
  
}
@media (max-width: 767px) {
  
}
@media (max-width: 480px) {
  
}
/*Core variables and mixins*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  padding: 2rem 0rem;

}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}